@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 210 9% 31%;
    --card: 0 0% 100%;
    --card-foreground: 210 9% 31%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 9% 31%;
    --primary: 210 14% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 15% 90%;
    --secondary-foreground: 210 9% 31%;
    --muted: 210 15% 90%;
    --muted-foreground: 210 9% 45%;
    --accent: 177 68% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 14% 80%;
    --input: 210 14% 89%;
    --ring: 177 68% 41%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 10% 15%;
    --foreground: 210 10% 85%;
    --card: 210 10% 20%;
    --card-foreground: 210 10% 85%;
    --popover: 210 10% 20%;
    --popover-foreground: 210 10% 85%;
    --primary: 210 14% 70%;
    --primary-foreground: 210 10% 15%;
    --secondary: 210 10% 30%;
    --secondary-foreground: 210 10% 85%;
    --muted: 210 10% 30%;
    --muted-foreground: 210 10% 60%;
    --accent: 177 68% 51%;
    --accent-foreground: 210 10% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 177 68% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
